{% extends "base.html" %}
{% block content %}

<h2>Gestión de Materias</h2>

<form action="/agregar_materia" method="POST">
    
    <input type="text" name="codigo" placeholder="Código de Materia" required>
    <input type="text" name="nombre" placeholder="Nombre de la Asignatura" required>
    <input type="number" name="horas" placeholder="Horas semanales" required>
    <input type="number" name="creditos" placeholder="Créditos" required>
    <button type="submit">Guardar Materia</button>
    
</form>

<table>
    
    <thead>
        
        <tr>
            
            <th>Código</th>
            <th>Nombre</th>
            <th>Acción</th>
            
        </tr>
        
    </thead>
    
    <tbody>
        
        {% for m in lista %}
        
        <tr>
            
            <td>{{ m.codigo }}</td>
            <td>{{ m.nombre }}</td>
            <td><a href="/eliminar_materia/{{ m._id }}">Eliminar</a></td>
            
        </tr>
        
        {% endfor %}
        
    </tbody>
    
</table>

{% endblock %}