{% extends "base.html" %}
{% block content %}

<h2>Gestión de Alumnos</h2>

<form action="/agregar_alumno" method="POST">
    
    <input type="text" name="matricula" placeholder="Matrícula" required>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="text" name="apellidos" placeholder="Apellidos" required>
    <input type="email" name="correo" placeholder="Correo electrónico" required>
    <input type="date" name="fecha" required>
    <button type="submit">Guardar Alumno</button>
    
</form>

<table>
    
    <tr>
        
        <th>Matrícula</th>
        <th>Nombre</th>
        <th>Acción</th>
    </tr>
    
    {% for a in lista %}
    
    <tr>
        
        <td>{{ a.matricula }}</td>
        <td>{{ a.nombre }} {{ a.apellidos }}</td>
        <td><a href="/eliminar_alumno/{{ a._id }}">Eliminar</a></td>
        
    </tr>
    
    {% endfor %}
    
</table>

{% endblock %}