{% extends "base.html" %}
{% block content %}
<h2>Gestión de Maestros</h2>

<form action="/agregar_maestro" method="POST">
    
    <input type="text" name="num_empleado" placeholder="No. de Empleado" required>
    <input type="text" name="nombre" placeholder="Nombre completo" required>
    <input type="text" name="especialidad" placeholder="Especialidad" required>
    <input type="text" name="telefono" placeholder="Teléfono" required>
    <select name="turno">
        <option value="Matutino">Matutino</option>
        <option value="Vespertino">Vespertino</option>
    </select>
    <button type="submit">Guardar Maestro</button>
    
</form>

<table>
    
    <tr>
        
        <th>No. Empleado</th>
        <th>Nombre</th>
        <th>Especialidad</th>
        <th>Acción</th>
        
    </tr>
    
    {% for m in lista %}
    
    <tr>
        
        <td>{{ m.num_empleado }}</td>
        <td>{{ m.nombre }}</td>
        <td>{{ m.especialidad }}</td>
        <td><a href="/eliminar_maestro/{{ m._id }}">Eliminar</a></td>
        
    </tr>
    
    {% endfor %}
    
</table>

{% endblock %}