<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    
</head>

<body>
    
    <div class="contenedor">
        
        <nav>
            
            <a href="/alumnos">Alumnos</a> | 
            <a href="/maestros">Maestros</a> | 
            <a href="/materias">Materias</a>
            
        </nav>
        
        <hr>
        
        {% block content %}{% endblock %}
        
    </div>
    
</body>

</html>